.slide-container {
  max-width: 400px;
  width: auto;
  padding: 40px 0;
  display: inline-block;
  margin-bottom: -20px;

}

.slide-content {
  border-radius: 0 25px 0 25px;
  margin: 0 40px;
  overflow: hidden;
  box-shadow: 1px 2px 5px black;
}

.card {
  background-color: #1f2d3a;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.bod {
  width: 300px;
  background-color: #FFC300;
}

.card-content {
  background-color: #1f2d3a;
}

.image-content {
  background-color: white;
}

.card-content .description {
  width: 300px;
}

.card-info {
  width: auto;
  height: 50px;
  text-align: center;
  border-top: 1px solid black;
}

.name-bottom {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f40021;
  border-radius: 0 0 0 80px;
}

.card-image {
  position: relative;
  height: 50px;
  width: auto;
  margin-bottom: 20px;

}

.name {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
}

.description {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  height: 80px;
  margin: 30px;
  color: white;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  background-color: #f40021;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  
}

.button:hover {
  background: #FFC300;
}


.delTorneio {
  width: 70px;
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 2px solid red;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  background-color: red;
}

.delTorneio:hover {
  background-color: red;
  color: black;
  transition: all 0.3s ease;
}