.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; /* Defina uma altura fixa para o menu */
    background-color: #1f2d3a;
    padding: 0;
  }
  
  /* Restante do seu estilo CSS */
  
.menu-left {
    display: flex;
    align-items: center;
}

.menu-right {
    display: flex;
    align-items: center;
}

.menu-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu-logo {
    margin-right: 100px;
    padding: 24px;
    font-size: 18px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-decoration: none;
}

.menu-button {
    color: white;
    border: none;
    padding: 24px;
    margin-right: 0;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: transparent;
    color: white;
    text-align: left;
    border: none;
    width: 140px;
    padding: 24px;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-item {
    background-color: #1f2d3a;
    border: none;
    color: white;
    width: 210px;
    padding: 16px;
    cursor: pointer;
}

.dropdown-item a {
    text-decoration: none;
    color: white;
}

.dropdown-item:hover {
    border-bottom: 1px solid #FFC300;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-top: 1px solid #FFC300;
}

.menu-right .menu-button {
    background-color: transparent;
}

.menu-right .menu-button:hover {
    border-bottom: 1px solid #FFC300;

}

.menu-right .menu-button:first-child {
    margin-right: 0;
}

.droping {
    display: flex;
    margin-left: 10px;
    align-items: center;

}