.container {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 30px;
}

.containerColuna {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
}


.opt {
    width: 200px;
    height: 400px;
    background-color: none;
    border: 2px solid black;
    border-right: none;
    color: white;
}

.coluna1 {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 2px solid black;
    border-left: none;
    overflow: auto;
}

/* Oculta a barra de rolagem */
.coluna1::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem */
    background-color: transparent;
    /* Cor de fundo da barra de rolagem */
}

/* Estiliza o thumb (botão deslizante) da barra de rolagem */
.coluna1::-webkit-scrollbar-thumb {
    background-color: none;
    /* Cor do thumb */
    border-radius: 4px;
    /* Raio de borda do thumb */
}

/* Exibe a barra de rolagem durante a rolagem */
.coluna1:hover::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.1);
    /* Cor de fundo da barra de rolagem */
}

/* Estiliza o thumb (botão deslizante) da barra de rolagem durante a rolagem */
.coluna1:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor do thumb */
}

.opt-input {

    text-align: center;
}

.opt-input label {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.opt-input input[type='text'] {
    max-width: 150px;
    color: white;
    background-color: #1e2b36;
    border: none;
    padding: 5px;
    font-weight: bolder;

}


.opt-button {
    margin-top: 20px;
    text-align: center;
}

.opt-button button {
    background-color: rgba(103, 161, 10, 0);
    border: 1px solid #FFC300;
    color: #FFC300;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
}

.opt-button button:hover {
    color: #4b3900;
    background-color: #FFC300;
}

.colunaT {
    width: 100%;
    height: auto;

}

.colunaT2 {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.colunaTimes {
    width: auto;
    height: auto;
    margin: 12px;
    display: block;
    padding: 0;
    border-bottom: 1px solid black;

}

.colunaTimes img {
    width: 35px;
    height: 35px;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
}

.colunaTimes button {
    float: right;
}

.colunaTimes li {
    text-decoration: none;
    display: inline;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    margin-left: 10px;
    padding-bottom: 10px;
}

.inputTime {
    background-color: white;
    border: none;
}


.gerarPartidas {
    width: 400px;
    height: 400px;
    background-color: white;
    border: none;
    overflow: auto;
    margin-left: 20px;
}

.partidasHead h1 {
    height: 40px;
    background-color: #1f2d3a;
    color: white;
    border: none;
    margin: 0;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

.gerarPartidas .btnGerar {
    text-align: center;
    margin: 10px;
}

.btn {
    background-color: #FFC300;
    border: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.numerosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.colunaGeradaPar,
.colunaGeradaImpar {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.colunaGeradaPar {
    width: 150px;
    height: auto;
    margin: 12px;
    padding: 0;
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.colunaGeradaPar img {
    width: 35px;
    height: 35px;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
}

.colunaGeradaPar li {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    list-style-type: none;

}


.colunaGeradaImpar {
    width: 150px;
    height: auto;
    margin: 12px;
    padding: 0;
    display: block;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.colunaGeradaImpar img {
    width: 35px;
    height: 35px;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
}

.colunaGeradaImpar li {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    list-style-type: none;

}

.numerosContainer .historico {
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
}

.numerosContainer .historico button {
    width: 240px;
    color: white;
    background-color: #294554;
    font-size: 15px;
    padding: 6px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
}

.numerosContainer .historico button:hover {
    transition: 0.5s;
    background-color: #d15502;

}

.filterTimes {
    margin: 5px;
    width: 50%;
    height: 22px;
    text-align: center;
}



.input-icons {
    width: 100%;
    text-align: center;
    position: relative;

}

.icon {
    padding: 1px;
    margin: 5px;
    color: black;
}

.AlterarConfroto {
    width: 300px;
    text-align: center;
}

.AlterarConfroto button {
    background-color: #294554;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: 4px;
}

.alterH3EditPartida {
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.editPartidas {
    text-align: center;
}

.colunaEditPartida {
    width: auto;
    height: auto;
    margin: 12px;
    padding: 0;
    display: block;
    text-align: center;
    border-top: 3px double #294554;
    border-left: 3px double #294554;
    border-bottom: 3px double #294554;
    border-right: 3px double #294554;
}

.selectPartida {
    background-color: #294554;
    color: #FFC300;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.colunaEditPartida img {
    width: 30px;
    height: 30px;
    margin: 3px;
    margin: 5px 50px 5px 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.addIncon {
    background-color: #1f2d3a;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 auto;
    margin-right: 1px;
}

.addIncon:hover {
    color: greenyellow;
}

.addInconEdit {
    background-color: #1f2d3a;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 auto;
    margin-right: 1px;
}

.addInconEdit:hover {
    color: #FFC300;
}

.addInconDelete {
    background-color: #1f2d3a;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 auto;
    margin-right: 1px;
}

.addInconDelete:hover {
    color: red;
}

.inputEditTime {
    width: 200px;
    color: white;
    background-color: #1e2b36;
    border: none;
    padding: 5px;
    font-weight: bolder;
    margin: 3px;
}
.labelEditTime{
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.modalEditTime{
    text-align: center;
}
.imgEditTime{
    width: 35px;
    height: 35px;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
}
.h2EditTime{
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 2px dashed black ;
}
.fecharEditTimeButton{
    width: 60px;
    color: white;
    background-color: #1e2b36;
    border: none;
    padding: 5px;
    font-weight: bolder;
    margin: 3px;
    float: left;
    border-radius: 5px;
    cursor: pointer;

}
.fecharEditTimeButton:hover{
    color: red;
    transition: 0.3s;
}
.salvarEditTimeButton{
    color: white;
    background-color: #1e2b36;
    border: none;
    padding: 5px;
    font-weight: bolder;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
}
.salvarEditTimeButton:hover{
    color: greenyellow;
    transition: 0.3s;
}
.divEditTime{
    margin-top: 40px;
    border-top: 2px dashed black;
}
